- donor = sample = entity
- action_card = ActionCard.new 

- action_card.description do
  :markdown
    This action assigns a weight the action of each mutational process in
    generating the mutations on a sample. Uses official PCAWG signatures (beta 2)


= action_card_render action_card do
  = table :page => "1~-#{donor}" do
    - tsv = donor.pcawg_mutation_signature.transpose("Signature")
    - tsv.fields = [donor]
    - tsv
