%h2 Graph

- require 'sinatra/entity_graph'
- study = entity
- kb = @step.knowledge_base
- kb.register "donor_drivers", PCAWG.donor_drivers, :target => "Associated Gene Name=>Ensembl Gene ID"
- assocs = kb.subset("donor_drivers", :source => study.donors, :target => :all)
- entity_graph = EntityGraph.new
- entity_graph.add_associations assocs

- fusion_donors = study.donors.select{|d| Gene.setup(d.SV_candidate_genes, "Ensembl Gene ID", PCAWG.organism).name.include? "ERG" }
- entity_graph.add_rule :property => :name, :entity_type => "Gene"
- entity_graph.add_rule :name => :fusion, :entity_type => "Sample", :subset => []

- entity_graph.add_aes_rule :aes => :label, :name => :name, :entity_type => "Gene", :mapper => :direct
- entity_graph.add_aes_rule :aes => :label, :name => :code, :entity_type => "Sample", :mapper => :direct
- entity_graph.add_aes_rule :aes => :color, :value => "blue", :entity_type => "Gene"
- entity_graph.add_aes_rule :aes => :color, :name => :fusion, :mapper => :map, :entity_type => "Sample", :mapper_obj => {:true => 'red', :false => 'green'}

%svg#plot_svg

#plot(style='height:500px;width:100%')

.ui.button#mark_but Mark

:deferjs
  var model=#{entity_graph.model.to_json}
  //rbbt.plots.graph.view_d3js_graph(model, $("#plot_svg")[0])
  rbbt.plots.graph.view_cytoscapejs(model, $("#plot")[0])

  var fusion_donors = #{fusion_donors.to_json}
  $('#mark_but').click(function(){
    model.rules.push({entity_type: "Sample", name: 'fusion', subset: fusion_donors})
    rbbt.plots.graph.view_cytoscapejs(model, $("#plot"))
    //rbbt.plots.graph.update_cytoscape(model, $("#plot"))
  })


