.ui.masthead.inverted.top.attached.center.aligned.padded.segment
  .ui.text.container
    %h1.ui.inverted.header
      PCAWG
    %h2 
      PanCancer Analysis of Whole Genomes

= partial_render('main/cohort_selection')
